/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */



/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
    background: inherit;
    border-color: #323232;
    color: white;
}

/* The whole bar */
#waybar {
    background: #323232;
    color: white;
    font-family: Cantarell, Noto Sans, sans-serif;
    font-size: 16px;
}

/* Each module */
#upower,
#clock,
#cpu,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#custom-media,
#custom-power,
#disk,
#mpd,
#tray {
    padding-left: 10px;
    padding-right: 10px;
}


/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#mpd {
    color: white;
}

#upower {
    color: white;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#upower.warning {
    color: orange;
}

#upower.critical {
    color: red;
}

#upower.charging {
  color: limegreen;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-power {
    background-color: rgba(0,119,179,0.6);
    border-radius: 50px;
    margin: 5px 5px;
    padding: 1px 3px;
}

#clock {
    color: white;
    font-weight: bold;
}

#cpu {
  /* No styles */
}

#cpu.warning {
    color: orange;
}

#cpu.critical {
    color: red;
}

#disk {
  color: white;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
}

#memory {
    color: white;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.warning {
    color: orange;
}

#memory.critical {
    color: red;
    animation-name: blink-critical;
    animation-duration: 2s;
}

#mode {
    background: #64727D;
    border-top: 2px solid white;
    /* To compensate for the top border and still have vertical centering */
    padding-bottom: 2px;
}

#network {
    color: white;
}

#network.disconnected {
    color: orange;
}

#pulseaudio {
  color: white;
}

#pulseaudio.muted {
    /* No styles */
}

#temperature {
    /* No styles */
}

#temperature.critical {
    color: red;
}

#tray {
   padding-right: 0px; /* No styles */
}

#window {
    font-weight: bold;
}

#workspaces button {
    border-top: 2px solid transparent;
    /* To compensate for the top border and still have vertical centering */
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

#workspaces button.focused {
    border-color: black;
    color: black;
    background-color: white;
}

#workspaces button:hover {
    border-color: black;
    color: black;
    background-color: white;
}

#workspaces button.urgent {
    border-color: black;
    color: red;
}

#backlight {
  color: white;
  padding-right: 10px
}

#language {
  color: white;
}
